/* ImageSlider.css */
.slider-container {
  margin-top: 90px; /* Adjust margin-top as needed */
  width: 100%;
 
}

.slider-scroll {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping of slider items */
}

.slider-item:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

.slider-button:hover {
  border: none; /* Remove border on hover */
}

.gap{
  margin-bottom: 50px;
}
.slider-button:hover {
  border: none; /* Remove border on hover */
}
.textslider{
  font-family: 'Tajawal', sans-serif;
  text-align: center;
}
.desktop-slider{
background-color: #f0f0f0;
 
}
 
.slick-prev,
.slick-next {
  font-size: 24px;
  color: transparent;
  z-index: 1;
  position: absolute; /* Position arrows absolutely */
  top: 50%; /* Align arrows vertically */
  background-color: rgba(6, 59, 20, 0.5); /* Background color of arrows */
  border-radius: 50%; /* Circle shape */
  width: 60px; /* Width of arrows */
  height: 60px; /* Height of arrows */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center arrow symbol */
  align-items: center; /* Center arrow symbol */
  cursor: pointer; /* Add cursor pointer */
  transition: background-color 0.2s; /* Add transition effect */
}

.slick-prev {
  left: 10px; /* Position the left arrow */
}

.slick-next {
  right: 10px; /* Position the right arrow */
}
 
.brand-partners-gap {
  margin-bottom: 10%; /* Add some space before the brand-partners */
}
 
.brand-partners {
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Adjust the color as needed */
}

.image-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.small-image {
  width: 15%; /* Adjust the width of the small images */
  height: 100%; /* Maintain aspect ratio */
  margin: 0 10px; /* Adjust the spacing between images */
}
.scroll-animation {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* ImageSlider.css */
.slider-image {
  width: 100%; /* Adjust the width percentage as needed */
  max-height: 100%; /* Maintain aspect ratio */
  border: none; /* Remove border */
}
.scroll-animation.animate {
  opacity: 1;
  transform: translateY(0);
}
@media only screen and (max-width: 768px) {
  .mobile-slider {
    background-color: rgb(197, 195, 191);
    max-height: auto;
    max-width: auto;
    height: 26rem;
  }
  .scroll-animation {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .scroll-animation.animate {
    opacity: 1;
    transform: translateY(0);
  }
  .slider-image {
    height: 200px;
    width: 190px;
    margin-right: 40px ;
    border: none; /* Remove border */
  }

  /* Adjust margin for the last image to prevent extra space */
  .slider-image:last-child {
    margin-right: 0;
  }
}


/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
  /* Styling for the phone version */
  .phone-version {
    padding: 13px; /* Add padding for better spacing */
  }

  /* Styling for the image rows */
  .image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust spacing between images */
    margin-bottom: 20px; /* Add margin bottom for separation */
  }
/* Styling for individual images */
.small-image {
 
  height: 12rem; /* Adjust height to 5x5 */
  margin-top: 10px; /* Add margin bottom for separation */
  
}
 

.phone-version .small-image {
  width: calc(40% - -19px); /* Adjust image width to fit two images in one row */
}


 /* CSS for the brand partners section in the phone version */
.phone-version .brand-partners {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}


}


